<div id="navbar" class="height-match_parent sideNav" style="position: fixed; min-width:250px">
    <div id="logo_container" class="">
        <a id="logo" class="hover-no_effect menu-font" href="/">star stream</a>
    </div>
    <div class="container-fluid">
        <nav id="nav-main" class="nav-collapse nav-collapse-main" role="navigation">
            <ul id="menu-main-menu" class="nav main-menu">
                <li class="menu-list"><a class="menu-font" href="/home/index">home</a></li>
                <li class="menu-list"><a class="menu-font" href="">members</a></li>
                <li class="menu-list"><%= link_to 'members',  %></li>
                <li class="menu-list"><a class="menu-font" href="/blogs">blog</a></li>
                <li class="menu-list"><a class="menu-font"></a></li>
            </ul>
        </nav>
    </div>
    <div class="col-md Klocation lc">
        <%= render partial: "layouts/parts/clock", layout: false %>
    </div>
    <div id="footer">
        <ul class="nav f_nav" style="width: 100%;">
            <li><a href="#" target="_blank">
                <i class="zmdi zmdi-facebook-box zmdi-hc-fw"></i>
            </a></li>
            <li><a href="#" target="_blank">
                <i class="zmdi zmdi-twitter-box zmdi-hc-fw"></i>
            </a></li>
            <li><a href="#" target="_blank">
                <i class="zmdi zmdi-instagram zmdi-hc-fw"></i>
            </a></li>
        </ul>
        <div class="clear"></div>
        <hr>
        <p class="copyright menu-font">Copyright ⓒ StarStream Inc.</p>
        <button id="goTopBtn" onclick="gogoTop(0)" class="btn btn-default btn-no-bootstrap">
            <span class="glyphicon glyphicon-chevron-up"></span>
        </button>
    </div>
</div>
