<%= form_for(blog) do |f| %>
    <div class="row k_margin mu md"></div>

    <div class="row k_padding pr pl">
        <div class="col-md-7 k_padding">
            <%= f.text_area :content, class: "tinymce_area"%>
        </div>

        <div class="col-md-1 half"></div>
            <div class="col-md-2 k_padding pr pl pu pd">
                <button class="btn btn-info btn-icon"><i class="zmdi zmdi-search"></i></button>
                <p>사진등록</p>
            </div>
        </div>
    </div>  
    
    <div class="row k_margin mu md"></div>  

    <%= f.button({class: "blogs_button f c"}) do%>
        <div class="body r kakao_color">
            <p class="text">밥 등록</p>
        </div>
    <%end%>
<% end %>