<%= form_for(blog, html:{multipart: "true"}) do |f| %>
    <div class="row Kmargin mu md"></div>

    <div class="row Kpadding pr pl">
        <div class="col-md-6 Kpadding">
            <%= f.text_area :content, class: "tinymce_area"%>
        </div>

        <div class="col-md-1 half"></div>
            <div class="col-md-2 Kpadding pr pl pu pd">
                <button class="btn btn-info btn-icon"><i class="zmdi zmdi-search"></i></button>
                <%= f.file_field :photo%>
            </div>
        </div>
    </div>  
    
    <div class="row Kmargin mu md"></div>  

    <%= f.button({class: "blogs_button f c"}) do%>
        <div class="body r kakao_color">
            <p class="text">밥 등록</p>
        </div>
    <%end%>
<% end %>