<h1>밥 기록실</h1>
<br>
<% @blogs.each do |blog| %>
    <div class="row k_padding h">
        <div class="col-md-12">
            <div class="row">
                <div class="k_padding h v white col-md-7">
                    <%==blog.content%>
                </div>
                <div class="col-md-1"></div>
                <div class="k_padding h v white col-md-4">
                    <%= link_to 'Edit', edit_blog_path(blog) %>
                    <br>
                    <%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %>
                </div>
            </div>
        </div>
    </div>   
<% end %>


<%=link_to("/blogs/new", {class: "k_button f c"}) do%>
    <div class="body r naver_color">
        <p class="text" style="color:white">New 밥</p>
    </div>
<%end%>
