<div class="row Kpadding pr pl pt pb">
    <h1>Meal Archive</h1>
</div>

<div class="Jpagemove">
<%= render partial: "page", locals: {blogs: @blogs}%>
</div>

<div class="row row-md-1"></div> 
<div class="row row-md-1"></div> 
<%= link_to new_blog_path do %>
    <div class="Kmargin mb Klocation lc lb lf Kshape sbutton1 sc Ktexture ts naver_color">
        <div class="naver_color"></div>
        <h3 class="Kmargin Klocation lcc" align="center" style="color:white"><strong>New 밥</strong></h3>
    </div>
<% end %>