/* style codes of footer */
#footer {
    max-height: 170px;
    height: 150px;
    width: 100%;
    position: absolute;
    float: left;
    bottom: 0;
    margin-top: 20px;
    background-color: #fff;
}

#footer,
#footer p.copyright{
    text-align: center;
    font-size: 12px;
    text-transform: none !important;
}

#footer > button {
    text-align: center;
}

#goTopBtn,
#goTopBtn:after,
#goTopBtn:before{
    margin-top: 15px;
    padding: 4px 6px 4px 7px;
    box-shadow: 0px 0px 5px #e9e9e9;
    background-color: #666;
    color: #fff;
}

.f_nav{
    margin: 15px 0px -5px;
}
.f_nav > li{
    display: inline-block !important;
}
.f_nav > li > a > .zmdi{
    font-size: 20px;
    cursor: pointer;
}

.clear{
    width: 100%;
    height: 1px;
}

hr{
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}
