.row-md-1{height:30px}
.col-md{
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
	float: left;

	&.-d0d5{width:4.16666667%}
	&.-d1d5{width:12.5%}
	&.-d2d5{width:20.83333333%}
	&.-d3d5{width:29.16666667%}
	&.-d4d5{width:37.5%}
	&.-d5d5{width:45.83333333%}
	&.-d6d5{width:54.16666667%}
	&.-d7d5{width:62.5%}
	&.-d8d5{width:70.83333333%}
	&.-d9d5{width:79.16666667%}
	&.-d10d5{width:87.5%}
	&.-d11d5{width:95.83333333%}

	&.-offset-d0d5{margin-left:4.16666667%}
	&.-offset-d1d5{margin-left:12.5%}
	&.-offset-d2d5{margin-left:20.83333333%}
	&.-offset-d3d5{margin-left:29.16666667%}
	&.-offset-d4d5{margin-left:37.5%}
	&.-offset-d5d5{margin-left:45.83333333%}
	&.-offset-d6d5{margin-left:54.16666667%}
	&.-offset-d7d5{margin-left:62.5%}
	&.-offset-d8d5{margin-left:70.83333333%}
	&.-offset-d9d5{margin-left:79.16666667%}
	&.-offset-d10d5{margin-left:87.5%}
	&.-offset-d11d5{margin-left:95.83333333%}
}

