.Klocation{
	position: absolute;
	&.lf{
		position: fixed;
	}

	&.lc{
		left: 50%;
		transform: translateX(-50%);
	}
	&.lcc{
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}
	&.lmg{
		width: 100%;
	}
	&.lb{
		bottom:0px
	}
}