.Kpadding{
	position: relative;
	padding: 0px 0px 0px 0px;
	&.pr{padding-right: 15px}
	&.pl{padding-left: 15px}
	&.pu{padding-top: 15px}
	&.pd{padding-bottom: 15px}
}
.Kmargin{
	position: relative;
	margin: 0px 0px 0px 0px;
	&.mr{margin-right: 15px}
	&.ml{margin-left: 15px}
	&.mu{margin-top: 15px}
	&.md{margin-bottom: 15px}
}
