.Kpadding{
	position: relative;
	padding: 0px 0px 0px 0px;
	&.pr{padding-right: 15px}
	&.pl{padding-left: 15px}
	&.pt{padding-top: 30px}
	&.pb{padding-bottom: 30px}
}
.Kmargin{
	position: relative;
	margin: 0px 0px 0px 0px;
	&.mr{margin-right: 15px}
	&.ml{margin-left: 15px}
	&.mt{margin-top: 30px}
	&.mb{margin-bottom: 30px}
}
